<!DOCTYPE html>
<html data-theme="synthwave" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Roast UI of strangers">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">

  <title inertia>RoastMyUI</title>

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.svelte`])
  @inertiaHead()
</head>

<body>
  @inertia()
</body>

</html>